/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* public/global.css */
:root {
	--primary: #5387f7;
	--high: #60ec9e;
	--gray: #f4f4f4;
	--dark-gray: #a9a9a9;
	--wrong: #ff7971;

	--font: 'Roboto', sans-serif;
	--button-height: 51px;
	--font-size: 16px;
	--input-height: 51px;
	--header-height: 39px;
	--footer-height: 42px;
}

* {
	-webkit-tap-highlight-color: transparent;
}
