/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* public/global.css */
:root {
	--primary: #5387f7;
	--gray: #f4f4f4;

	--font: 'Roboto', sans-serif;
	--height: 51px;
	--font-size: 16px;
}

/* 모든 요소에서 tap highlight를 끈다 */
* {
	-webkit-tap-highlight-color: transparent;
}
